/**
 * Colors
 */

/**
 * Slightly off white
 */

$white: #FEFEFE;

/**
 * Reds
 */

$citrushack-red: #EE3925;
$scarlett-red:   #A12719;

/**
 * Citrus colors
 */

$citrus-orange: #FB963C;

/**
 * Bootstrap colors
 */

$brand-primary: #337AB7;
$brand-success: #5CB85C;
$brand-info:    #5BC0DE;
$brand-warning: #F0AD4E;
$brand-danger:  #D9534F;

$gray-darker:  lighten(#000, 13.5%);
$gray-dark:    lighten(#000, 20%);
$gray:         lighten(#000, 33.5%);
$gray-light:   lighten(#000, 46.7%);
$gray-lighter: lighten(#000, 93.5%);

/**
 * Monokai colors
 */

$vormator-black: #0F0E0F;
$vormator-dark-gray: #292429;
$vormator-gray: #524F52;
$vormator-magenta: #F7208B;
$vormator-white: #FFF7FB;

/**
 * Transparent
 */

$transparent: rgba(0,0,0,0);
