<!-- Name, Phone Number, Address, School, Gender, Age, Nationality, Resume, Interests, Major, Projects -->
<div id='apply' class='container-fluid'>
    <section>
        <header>
            <h1>Ready for the Inland Empire's Premier Hackathon?</h1>
            <h4 class='text-muted'>We just need this info from you</h4>
        </header>

        <div class='row'>
            <div class='col-md-6'>
                <form id="submission">
                    <div class='row'>
                        <!-- Who are you -->
                        <div class='col-md-12'>
                            <h3>Who are you?</h3>
                        </div> 
                        <div class='form-group col-md-6'>
                            <label class='control-label required' for='firstName'>First Name</label>
                            <input title="First Name" name="Fname" type='text' class='form-control' id='firstName' placeholder='Marion'> 
                        </div>

                        <div class='form-group col-md-6'>
                            <label class='control-label required' for='lastName'>Last Name</label>
                            <input title="Last Name" name="Lname" type='text' class='form-control' id='lastName' placeholder='Smith'>
                        </div>

                        <div class='form-group col-md-6'>
                            <label class='control-label required'>Gender</label>
                            <br>
                            Male: <input id="gender" title="Gender" type="radio" name="gender" value="Male"/> &nbsp;&nbsp;
                            Female: <input title="Gender" type="radio" name="gender" value="Female"/><br/>
                        </div><!-- who are you -->

                        <!-- How do we contact you --> 
                        <div class='col-md-12'>
                            <h3>Contact info</h3>
                        </div>
                        <div class='form-group col-md-6'>
                            <label class='control-label required' for='email'>Email</label>
                            <input title="Email Address" name="email" type='email' class='form-control' id='email' placeholder='msmith@ucr.edu'>
                        </div>

                        <div class='form-group col-md-6'>
                            <label class='control-label' for='phoneNumber' tooltip='{{ phoneNeededReason }}'><u>Phone Number</u></label>
                            <input title="Phone Number" name="phone" type='text' class='form-control' id='phoneNumber' placeholder='9091234567' maxlength='10'>
                        </div><!-- How do we contact you -->

                        <!-- Education -->
                        <div class='col-md-12'>
                            <h3>Education</h3>
                        </div>
                        <div class='form-group col-md-12'>
                            <label class='control-label required' for='school'>School</label>
                            <select title="School" name="school" class='form-control' id='school' ng-model='school' ng-options="school for school in SCHOOLS">
                                <option value="">-- Select your school --</option>
                            </select>
                        </div>

                        <div class='form-group col-md-12'>
                            <label class='control-label required' for='classLevel'>Class Level</label>
                            <select title="Class Level" name="classLevel" class='form-control' id='classLevel' ng-model='classLevel' ng-options='level for level in CLASS_LEVELS'>
                                <option title="Class Level" value="">-- Select your class level --</option>
                            </select>
                        </div><!-- Education -->

                        <!-- About you -->
                        <div class='col-md-12'>
                            <h3>About you</h3>
                        </div>
                        <div class='form-group col-md-12'>
                            <label class='control-label' for='applicantType'>Hacker, Hustler, or Designer?</label>
                            <select name="applicantType" class='form-control' id='applicantType' ng-model='applicantType' ng-options='type for type in APPLICANT_TYPES'>
                                <option title="Role" value="">-- Select a role --</option>
                            </select>
                        </div>

                        <div class='form-group col-md-12'>
                            <label class='control-label required' tooltip='{{ ageNeededReason }}'for='age'><u>How young are you?</u></label>
                            <input title="Age" name="age" type='number' class='form-control' id='age' min='18' max='30' placeholder='18'>
                        </div>

                        <div class='form-group col-md-12'>
                            <label class='control-label' for='dietaryRestrictions' tooltip='{{ dietaryRestrictionsInfo }}'>Dietary restrictions? <span class='text-muted'>(Select all that apply)</span></label>
                            <br>
                            <label class='checkbox-inline' ng-repeat='restriction in DIETARY_RESTRICTIONS'>
                                <input title="Restrictions" type='checkbox' name='dietaryRestrictions' id='{{ restriction }}' value='{{ restriction }}'>{{ restriction }}
                            </label>
                        </div><!-- About you -->

                        <!-- Last things -->
                        <div class='col-md-12'>
                            <h3>Last things</h3>
                        </div>

                        <div class='form-group col-md-12'>
                            <label class='control-label required' for='transportation'>Will you need a ride?</label>
                            <br>
                            Yes: &nbsp;<input id="ride" title="Ride" type="radio" name="ride" value="Yes" required/> &nbsp;&nbsp;
                            No: &nbsp;<input title="Ride" type="radio" name="ride" value="No" required/><br/>
                        </div>

                        <div class='form-group col-md-12'>
                            <label class='control-label' for='github'>Github Username</label>
                            <div class='input-group'>
                                <div class='input-group-addon'>@</div>
                                <input title="Github Username" name="github" type='text' class='form-control' id='github' placeholder='citrushack'>
                            </div>
                        </div>

                        <div class='form-group col-md-12'>
                            <label class='control-label' for='hardware'>What kind of hardware would you like to hack on? <span class='text-muted'>(Max 100 chars)</span></label>
                            <input title="Hardware" name="hardware" type='text' class='form-control' id='hardware' placeholder='Oculus Rift, Pebble, Myo...'>
                        </div>

                        <div class='form-group col-md-12'>
                            <label class='control-label required' for='resume'>Resume</label><br>
                            <button type="button" onclick="upload()">Choose File</button>
                            <input title="Resume Submission" type="hidden" value="" name="application" id="resume">
                        </div>
                        <!-- submit -->
                        <div class='col-md-12' id='submit'>                      
                            <button type='submit' class='btn btn-danger btn-block'>Submit</button>
                        </div><!-- submit -->
                    </div>
                </form>
            </div>

            <div class='col-md-6'>
                <img src='../img/clock-tower.jpg' class='img-responsive'></img> 
            </div>
        </div>
    </section>
    <script>
    function upload() {
        filepicker.setKey("AP3pWMU5gT0WXllKAKYybz");

        filepicker.pick(
          function(Blob){
            console.log(Blob.url);
            var x = document.getElementById("resume");
            x.setAttribute("value", Blob.url);
          }
        );
    }
    
    $.fn.serializeObject = function()
    {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function() {
            if (this.name !== undefined) {
                if(o[this.name])
                    o[this.name] += ", "+this.value || '';
                else {
                    if(this.name == "school") {
                        o[this.name] = $("#school option:selected").text() || '';
                    } else if(this.name == "classLevel" && this.value != 0) {
                        o[this.name] = $("#classLevel option:selected").text() || '';
                    } else if(this.name == "applicantType" && this.value != 0) {
                        o[this.name] = $("#applicantType option:selected").text() || '';
                    } else {
                        o[this.name] = this.value || '';
                    }
                }
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
    
    function Validate()
    {
        var msg= "",
            fields = document.getElementById("submission").querySelectorAll('input,textarea,select');

        for (var i=0; i<fields.length; i++){
            if(fields[i].id == "ride")
                if ($$('input[name=ride]:checked').length == 0)
                    msg += "Ride is required. \n";
            if(fields[i].id == "gender")
                if ($$('input[name=gender]:checked').length == 0)
                    msg += "Gender is required. \n";
            if (fields[i].value == "" && fields[i].name != "phone" && fields[i].name != "github" && fields[i].name != "hardware" && fields[i].name != "applicantType") { 
                msg += fields[i].title + ' is required. \n';
            }
        }

        if(msg) {
            alert(msg);
            return false;
        }
        else
            return true;
    }
    
    $(function() {
        $('form').submit(function() {
            if(Validate()) {
                post_form = JSON.stringify($('form').serializeObject());
                console.log(JSON.stringify($('form').serializeObject()));
                submit(post_form);
                return false;
            }
        });
    });
    
    function submit(post) {
        
        var localJSONData = post;

        $.ajax({
            data:"JSONFile=" + localJSONData,
            type: 'POST',
            url: 'https://fast-dawn-6470.herokuapp.com/app_dev.php/api/post',
            dataType: 'json',
            success: function(data){
                console.log(data['code']);
                alert("Application submitted successfully");
                window.location.replace("http://localhost:8000/#/main");
            }
        });
    }

    </script>
</div>
<script src="js/MooTools-Core-1.5.1.js"></script>
