<!-- Name, Phone Number, Address, School, Gender, Age, Nationality, Resume, Interests, Major, Projects -->
<div id='apply' class='container-fluid'>
    <section>
        <header>
            <h1>Ready for the Inland Empire's Premier Hackathon?</h1>
            <h4 class='text-muted'>We just need this info from you</h4>
        </header>

        <div class='row'>
            <div class='col-md-6'>
                <form name='applyForm' novalidate>
                    <div class='row'>
                        <!-- Who are you -->
                        <div class='col-md-12'>
                            <h3>Who are you?</h3>
                        </div>
                        <div class='col-md-6'>
                            <div class='form-group has-feedback' show-errors>
                                <label class='control-label required' for='firstName'>First Name</label>
                                <input type='text' class='form-control' id='firstName' name='firstname' required ng-model='Application.Fname' placeholder='Marion'>
                                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                <p class='help-block'>Please enter your first name</p>
                            </div>
                        </div>
                        <div class='col-md-6'>
                            <div class='form-group has-feedback' show-errors>
                                <label class='control-label required' for='lastName'>Last Name</label>
                                <input type='text' class='form-control' id='lastName' name='lastname' required ng-model='Application.Lname' placeholder='Smith'>
                                <p class='help-block'>Please enter your last name</p>
                                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                            </div>
                        </div>
                        <div class='clearfix'></div>
                        <div class='col-md-6'>
                            <div class='form-group' show-errors>
                                <label class='control-label required'>Gender</label>
                                <br>
                                <div class='radio'>
                                    <label>
                                        <input type='radio' name='gender' id='male' ng-model='Application.Gender' value='Male' ng-required='!Gender'>Male
                                    </label>
                                </div>
                                <div class='radio'>
                                    <label>
                                        <input type='radio' name='gender' id='female' ng-model='Application.Gender' value='Female' ng-required='!Gender'>Female
                                    </label>
                                </div>
                                <div class='radio'>
                                    <label>
                                        <input type='radio' name='gender' id='other' ng-model='Application.Gender' value='Other' ng-required='!Gender'>Other/Don't wish to disclose
                                    </label>
                                </div>
                            </div>
                        </div><!-- who are you -->

                        <!-- How do we contact you -->
                        <div class='col-md-12'>
                            <h3>Contact info</h3>
                        </div>
                        <div class='col-md-6'>
                            <div class='form-group has-feedback' show-errors>
                                <label class='control-label required' for='email'>Email</label>
                                <input type='email' class='form-control' name='email' id='email' ng-model='Application.Email' ng-pattern='/^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.edu)$/' required placeholder='msmith@ucr.edu'>
                                <p class='help-block'>Please enter a valid .edu address</p>
                                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                            </div>
                        </div>
                        <div class='col-md-6'>
                            <div class='form-group has-feedback' show-errors>
                                <label class='control-label required' for='phoneNumber' tooltip='{{ phoneNeededReason }}'><u>Phone Number</u></label>
                                <input type='text' class='form-control' name='phoneNumber' id='phoneNumber' ng-model='Application.Phone' placeholder='9091234567' maxlength='10' required ng-pattern='/^[0-9]{10}$/'>
                                <p class='help-block'>Please enter your phone number</p>
                                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                             </div><!-- How do we contact you -->
                        </div>

                        <!-- Education -->
                        <div class='col-md-12'>
                            <h3>Education</h3>
                        </div>
                        <div class='col-md-12'>
                            <div class='form-group has-feedback' show-errors>
                                <label class='control-label required' for='school'>School</label>
                                <select class='form-control' id='school' name='school' required ng-model='Application.School' ng-options='school for school in SCHOOLS' ng-hide='schoolOther == "YES"'>
                                    <option value=''>-- Select your school --</option>
                                </select>
                                <br>
                                <label class='text-muted'>Other:</label>
                                <input type='checkbox' ng-model='schoolOther' ng-true-value='YES' ng-false-value='NO'>
                                <br>
                                <input type='text' class='form-control' id='school' name='school' placeholder='MIT, Stanford, etc..' ng-model='Application.School' ng-show='schoolOther == "YES"' required>
                                <p class='help-block'>Please select your school</p>
                            </div>
                        </div>
                        <div class='col-md-12'>
                            <div class='form-group has-feedback' show-errors>
                                <label class='control-label required' for='classLvl'>Class Level</label>
                                <select class='form-control' id='classLvl' name='classLvl' required ng-model='Application.ClassLvl' ng-options='level for level in CLASS_LEVELS'>
                                    <option value=''>-- Select your class level --</option>
                                </select>
                                <p class='help-block'>Please select your class level</p>
                            </div>
                        </div><!-- Education -->

                        <!-- About you -->
                        <div class='col-md-12'>
                            <h3>About you</h3>
                        </div>
                        <div class='col-md-12'>
                            <div class='form-group has-feedback' show-errors>
                                <label class='control-label required'
                                for='firstHackathon'>Will this be your first hackathon?</label>
                                <br>
                                <label class='radio-inline'>
                                    <input type='radio' name='firstHackathon'
                                    id='firstHackathon'
                                    ng-model='Application.First' value='yes'
                                    ng-required='!First'>Yes
                                </label>
                                <label class='radio-inline'>
                                    <input type='radio' name='firstHackathon'
                                    id='firstHackathon'
                                    ng-model='Application.First' value='no'
                                    ng-required='!First'>No
                                </label>
                            </div>
                        </div>
                        <div class='col-md-12'>
                            <div class='form-group'>
                                <label class='control-label'
                                for='applicantType'>Are you a <a href='http://www.forbes.com/sites/andyellwood/2012/08/22/the-dream-team-hipster-hacker-and-hustler/' target='_blank'>Hacker, Hipster, or Hustler?</a></label>
                                <select class='form-control' id='applicantType' name='applicantType' ng-model='Application.Type' ng-options='type for type in APPLICANT_TYPES'>
                                    <option value=''>-- Select a role --</option>
                                </select>
                            </div>
                        </div>
                        <div class='col-md-12'>
                            <div class='form-group has-feedback' show-errors>
                                <label class='control-label required' tooltip='{{ ageNeededReason }}' for='age'><u>How old are you?</u></label>
                                <input type='number' class='form-control'
                                id='age' required name='age' min='16' max='99' ng-model='Application.Age' placeholder='18'>
                                <p class='help-block'>Please enter your age. You
                                must be at least 16 years old. Under 18 requires
                                a liability waiver that will be emailed to you.</p>
                                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                            </div>
                        </div>
                        <div class='col-md-12'>
                            <div class='form-group'>
                                <label class='control-label' for='dietaryRestrictions' tooltip='{{ dietaryRestrictionsInfo }}'>Dietary restrictions? <span class='text-muted'>(Select all that apply)</span></label>
                                <br>
                                <div class='checkbox'>
                                    <label>
                                        <input type='checkbox' name='dietaryRestrictions' id='vegetarian' ng-model='Application.Diet["Vegetarian"]' ng-true-value='yes' ng-false-value='no'>Vegetarian
                                    </label>
                                </div>
                                <div class='checkbox'>
                                    <label>
                                        <input type='checkbox' name='dietaryRestrictions' id='Vegan' ng-model='Application.Diet["Vegan"]' ng-true-value='yes' ng-false-value='no'>Vegan
                                    </label>
                                </div>
                                <div class='checkbox'>
                                    <label>
                                        <input type='checkbox' name='dietaryRestrictions' id='lactoseIntolerant' ng-model='Application.Diet["Lactose Intolerant"]' ng-true-value='yes' ng-false-value='no'>Lactose Intolerant
                                    </label>
                                </div>
                                <div class='checkbox'>
                                    <label>
                                        <input type='checkbox' name='dietaryRestrictions' id='glutenFree' ng-model='Application.Diet["Gluten-Free"]' ng-true-value='yes' ng-false-value='no'>Gluten-Free
                                    </label>
                                </div>
                            </div>
                            <div class='form-inline' style='margin-bottom: 10px'>
                                <div class='form-group'>
                                    <label for='otherRestriction' class='text-muted'>Other:</label>
                                    <input type='text' class='form-control' id='otherRestriction' ng-model='Application.Diet["Other"]' placeholder='Peanut allergy, shellfish, etc...'>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-12'>
                            <div class='form-group' show-errors>
                                <label class='control-label required' for='TShirt'>T-Shirt Size</label>
                                <br>
                                <div class='radio'>
                                    <label>
                                        <input type='radio' name='TShirt' id='TShirt' ng-model='Application.TShirt' value='xs' ng-required='!TShirt'>XS
                                    </label>
                                </div>
                                <div class='radio'>
                                    <label>
                                        <input type='radio' name='TShirt' id='TShirt' ng-model='Application.TShirt' value='s' ng-required='!TShirt'>S
                                    </label>
                                </div>
                                <div class='radio'>
                                    <label>
                                        <input type='radio' name='TShirt' id='TShirt' ng-model='Application.TShirt' value='m' ng-required='!TShirt'>M
                                    </label>
                                </div>
                                <div class='radio'>
                                    <label>
                                        <input type='radio' name='TShirt' id='TShirt' ng-model='Application.TShirt' value='l' ng-required='!TShirt'>L
                                    </label>
                                </div>
                                <div class='radio'>
                                    <label>
                                        <input type='radio' name='TShirt' id='TShirt' ng-model='Application.TShirt' value='xl' ng-required='!TShirt'>XL
                                    </label>
                                </div>
                                <div class='radio'>
                                    <label>
                                        <input type='radio' name='TShirt' id='TShirt' ng-model='Application.TShirt' value='xxl' ng-required='!TShirt'>XXL
                                    </label>
                                </div>
                                <div class='radio'>
                                    <label>
                                        <input type='radio' name='TShirt' id='TShirt' ng-model='Application.TShirt' value='xxxl' ng-required='!TShirt'>XXXL
                                    </label>
                                </div>
                            </div>
                        </div><!-- About you -->

                        <!-- Last things -->
                        <div class='col-md-12'>
                            <h3>Last things</h3>
                        </div>
                        <div class='col-md-12'>
                            <div class='form-group' show-errors>
                                <label class='control-label required' tooltip='{{ transDetail }}' for='transportation'><u>Will you need a ride?</u></label>
                                <br>
                                <label class='radio-inline'>
                                    <input type='radio' name='transportation' id='transportation' ng-model='Application.Ride' value='yes' ng-required='!Ride'>Yes
                                </label>
                                <label class='radio-inline'>
                                    <input type='radio' name='transportation' id='transportation' ng-model='Application.Ride' value='no' ng-required='!Ride'>No
                                </label>
                            </div>
                        </div>
                        <div class='col-md-12'>
                            <div class='form-group'>
                                <label class='control-label' for='github'>Github username</label>
                                <div class='input-group'>
                                    <div class='input-group-addon'>@</div>
                                    <input type='text' class='form-control' id='github' placeholder='citrushack' ng-model='Application.Github'>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-12'>
                            <div class='form-group'>
                                <label class='control-label' for='hardware'>What kind of hardware would you like to hack on? <span class='text-muted'>(Max 100 chars)</span></label>
                                <input type='text' class='form-control' id='hardware' placeholder='Oculus Rift, Pebble, Myo...' ng-model='Application.Hardware' maxlength='100'>
                            </div>
                        </div>
                        <div class='col-md-12'>
                            <div class='form-group' show-errors>
                                <label class='control-label required' for='resume'>Resume <span class='text-muted'>5mb max (.pdf, .doc, or .docx only)</span></label>
                                <input type='file' name='resume' id='resume' required resume-upload accept='application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword' ng-model='Application.Resume'>
                                <p class='help-block'>Please upload your resume.</p>
                            </div>
                        </div>
                        <div class='col-md-12'>
                            <div class='form-group has-feedback' show-errors>
                                <label class='control-label required'
                                for='MLH' tooltip='{{ cocDetails }}'>
                                <u>MLH Code of Conduct</u></label>
                                <p>
                                I have read and
                                understand the MLH code of conduct and will
                                abide by all provisions. I understand
                                infractions of this code may have consequences
                                up to and including removal from the event.
                                <br>
                                <span class='text-muted'>The code of conduct may
                                be found <a href='/files/mlh_cc.pdf'>here</a></span>
                                </p>
                                <div class='checkbox'>
                                    <label>
                                        <input type='checkbox'
                                        ng-model='Application.MLH'
                                        name='MLH' id='MLH'
                                        ng-true-value='yes' ng-false-value='no'
                                        ng-required='!Application.MLH'
                                        />Agree
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- submit -->
                        <div class='col-md-12' id='submit'>
                            <button type='submit' class='btn btn-success btn-block' ng-click='submit()' ng-disabled='submitting'>{{ submitting ? 'Sending...' : 'Submit' }}</button>
                        </div><!-- submit -->
                        <!-- data policy -->
                        <div class='col-md-12' id='mlh'>
                            <p>
                                We participate in Major League Hacking (MLH) as
                                a MLH Member Event. You authorize us to share
                                certain application/registration information for
                                event administration, ranking, MLH
                                administration, pre and post-event informational
                                e-mails, and occasional messages about
                                hackathons in line with the <a
                                href='https://mlh.io/privacy'>MLH Privacy
                                Policy</a>.
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
