<div id='errorEmailAppModal'>
    <div class='modal-header'>
        <h3 class='modal-title'>Whoops!</h3>
    </div>
    <div class='modal-body'>
        <p>
            Hi there,<br></br>Looks like there was an error submitting your
            application. If you were wishing to update your application,
            please send us an <a href='mailto:citrushack@gmail.com?subject=Update%20my%20application&body=Your%20email' target='_blank'>email</a>, and we will let you update your application again.
            If this is a persistent error, please contact us and we will work
            to get it fixed.
            Sorry for the inconvenience!
        </p>
    </div>
    <div class='modal-footer'>
        <button class='btn btn-danger' ng-click='close()'>Close</button>
    </div>
</div>

