<!-- Splash -->
<section id='splash' ch-parallax ch-parallax-speed='5'>
    <div id='splash-group'>
        <img class='img-responsive center-block' src='img/logo.png'></img>
        <br>
        <h5 class='text-center' style='margin-top:20px'>Citrus Hack's adorable
            sister Hackathon @ <span class='text-bold' style='color:#f1ab00'>UC</span><span class='text-bold' style='color:#2d6cc0'>R</span><h5>
        <h4 class='text-center' style='color:#EEBA00'>April 18th - 19th</h4>
    </div>
</section><!-- Splash -->

<!-- Intro -->
<section id='intro' class='container-fluid'>
    <h1 class='text-bold text-center'>Prepare Yourself</h1>
    <h5 class='text-center'>mortal...<h5>
    <div id='info-group' class='row'> 
        <div class='col-md-4 text-center'>
            <h1 class='text-skinny'>
                80+ 
            </h1>
            <h5>UCR students</h5>
        </div>
        <div class='col-md-4 text-center'>
            <h1 class='text-skinny'>
                24 hours 
            </h1>
            <h5>of creative genius</h5>
        </div>
        <div class='col-md-4 text-center'>
            <h1 class='text-skinny'>
                Infinite glory
            </h1>
            <h5>for all</h5>
        </div>
    </div>
</section><!-- Intro -->

<section id='schedule' class='container-fluid'>
    <h1 class='text-bold text-center'>Schedule</h1>
    <div class='row'>
        <div class='col-md-6'>
            <h2>Saturday April 18th</h2>
            <div class='row'>
                <div class='col-md-12'>
                    <h6 class='pull-left text-bold'>Registration</h6>
                    <h6 class='pull-right text-bold'>9:00AM - 10:45AM</h6>
                </div>  
                <div class='clearfix'></div>
                <div class='col-md-12 text-muted'>
                    Check in to room WCH 232 and pick up some swag and snacks.
                </div>
                <br>
                <br>
                <div class='col-md-12'>
                    <h6 class='pull-left text-bold'>Introduction and Kickoff </h6>
                    <h6 class='pull-right text-bold'>10:45AM - 11:00AM</h6>
                </div>
                <div class='clearfix'></div>
                <div class='col-md-12 text-muted'>
                    Short presentation then hacking begins!
                </div>
                <br>
                <br>
                <div class='col-md-12'>
                    <h6 class='pull-left text-bold'>Unity Workshop </h6>
                    <h6 class='pull-right text-bold'>11:00AM - 12:00PM</h6>
                </div>
                <div class='clearfix'></div>
                <div class='col-md-12 text-muted'>
                    Presented by Adam Tuliper from Microsoft in room WCH 205/206.
                </div>
                <br>
                <br>
                <div class='col-md-12'>
                    <h6 class='pull-left text-bold'>Lunch </h6>
                    <h6 class='pull-right text-bold'>12:00PM - 1:00PM</h6>
                </div>
                <div class='clearfix'></div>
                <div class='col-md-12 text-muted'>
                    Substation sandwhiches will be served.
                </div>
                <br>
                <br>
               <div class='col-md-12'>
                    <h6 class='pull-left text-bold'>Code Sprint </h6>
                    <h6 class='pull-right text-bold'>1:00PM - 2:00PM</h6>
                </div>
                <div class='clearfix'></div>
                <div class='col-md-12 text-muted'>
                    Warm up with a short Hacker Rank code sprint in room WCH 226 (ACM Clubroom)! Problems will be of easy to moderate difficulty. T-Shirts will be awarded.
                </div> 
                <br>
                <br>
                <br>
                <br>
                <div class='col-md-12'>
                    <h6 class='pull-left text-bold'>Dinner </h6>
                    <h6 class='pull-right text-bold'>6:00PM - 7:00PM</h6>
                </div>
                <div class='clearfix'></div>
                <div class='col-md-12 text-muted'>
                    Chipotle burritos for all!
                </div>
                <br>
                <br>
                <div class='col-md-12'>
                    <h6 class='pull-left text-bold'>Midnight Meal </h6>
                    <h6 class='pull-right text-bold'>12:00AM - 1:00AM</h6>
                </div>
                <div class='clearfix'></div>
                <div class='col-md-12 text-muted'>
                    Recharge with some Domino's Pizza!
                </div>
                <br>
                <br>
                <div class='col-md-12'>
                    <p>Continue hacking all night or get some sleep or something...</p>
                </div>
            </div>
        </div>
        <div class='col-md-6'>
            <h2>Sunday April 19th</h2>
            <div class='row'>
                <div class='col-md-12'>
                    <h6 class='pull-left text-bold'>Breakfast </h6>
                    <h6 class='pull-right text-bold'>8:00AM - 9:00AM</h6>
                </div>
                <div class='clearfix'></div>
                <div class='col-md-12 text-muted'>
                    Come get your Panera Bread!
                </div>
                <br>
                <br>
                <div class='col-md-12'>
                    <h6 class='pull-left text-bold'>Hacking ends </h6>
                    <h6 class='pull-right text-bold'>11:00AM</h6>
                </div>
                <div class='clearfix'></div>
                <div class='col-md-12 text-muted'>
                    Stop hacking and submit your project!
                </div>
                <br>
                <br>
                <div class='col-md-12'>
                    <h6 class='pull-left text-bold'>Presentations </h6>
                    <h6 class='pull-right text-bold'>11:30AM - 12:30PM</h6>
                </div>
                <div class='clearfix'></div>
                <div class='col-md-12 text-muted'>
                    Show off your cool projects to our judges!
                </div>
                <br>
                <br>
                <div class='col-md-12'>
                    <h6 class='pull-left text-bold'>Awards </h6>
                    <h6 class='pull-right text-bold'>12:30AM - 1:00PM</h6>
                </div>
                <div class='clearfix'></div>
                <div class='col-md-12 text-muted'>
                    Winners announced and exit speech.
                </div>
                <br>
                <br>
                <div class='col-md-12'>
                    <p>Thanks for coming!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FAQ -->
<section id='faq' class='container-fluid'>
    <h1 class='text-bold text-center'>FAQ</h1>
    <h5 class='text-center'>read this...</h5>
    <div id='faq-body' class='row'>
        <div class='col-md-4 col-sm-6'>
            <div class="panel panel-default">
                <div class="panel-heading">What is a Hackathon?</div>
                <div class="panel-body">
                    A hackathon is a competition in which students team 
                    up to create projects. Hackathons have nothing to do
                    with <u tooltip='{{ securityElaborate }}'>illegal security
                    breaches</u>. See <a target='_blank' href='https://medium.com/hackathons-anonymous/wtf-is-a-hackathon-92668579601'>this</a>
                    for a good explanation.
                </div>
            </div>
        </div>
        <div class='col-md-4 col-sm-6'>
            <div class="panel panel-default">
                <div class="panel-heading">What kind of project can I make?</div>
                <div class="panel-body">
                    Mobile apps, websites, games, and hardware hacks are 
                    popular choices. 
                </div>
            </div>
        </div>
        <div class='clearfix visible-sm'></div>
        <div class='col-md-4 col-sm-6'>
            <div class="panel panel-default">
                <div class="panel-heading">Am I eligible to come?</div>
                <div class="panel-body">
                    All UCR students are welcome to come.
                </div>
            </div>
        </div>
        <div class='clearfix visible-md visible-lg'></div>
        <div class='col-md-4 col-sm-6'>
            <div class="panel panel-default">
                <div class="panel-heading">I don't have a team</div>
                <div class="panel-body">
                    You don't need to have a team per-se (although
                    we encourage it). We will be having a small social 
                    before hacking starts so you can join/form a team
                    if you don't already have one before coming.
                </div>
            </div>
        </div>
        <div class='clearfix visible-sm visible-md visible-lg'></div> 
    <h6 id='disclaimer' class='text-center text-muted'><em>FAQ is subject to change at anytime</em></h6>
</section><!-- FAQ -->

<!-- Sponsors -->
<section id='sponsors' class='container-fluid'>
    <h1 class='text-center text-bold'>Sponsors</h1>
    <h5 class='text-center'>make this event possible</h5>
    <div id='sponsor-list' class='row'>
        <div class='col-md-4'>
            <a href='https://www.google.com' target='_blank'>
                <img class='sponsor center-block' src='img/google.png'></img>
            </a>
        </div>
        <div class='col-md-4'>
            <a href='http://www.riverside.io' target='_blank'>
                <img class='sponsor center-block' src='img/riversideio.png'></img>
            </a>
        </div>
        <div class='col-md-4'>
            <a href='http://www.hackerrank.com' target='_blank'>
                <img class='sponsor center-block' src='img/hackerrank.png'></img>
            </a>
        </div>
    </div>
    <h5 id='sponsor-interest' class='text-center'>
        Intrested in sponsoring? Please <a href='#contact' du-smooth-scroll>contact us</a>.
    </h5>
</section><!-- Sponsors -->

<!-- Credits -->
<section id='credits' class='container-fluid'>
    <h1 class='text-center text-bold'>Organized by</h1>
    <h5 class='text-center'>these UCR clubs</h5>
    <div id='organized'>
        <div class='row'>
            <div class='col-md-6'>
                <a href='http://acm.cs.ucr.edu/' target='_blank'>
                    <img class='center-block img-responsive' src='img/acmucrlogo.png'></img>
                </a>
            </div>
            <div class='col-md-6'>
                <a href='http://ieee.ee.ucr.edu/' target='_blank'>
                    <img class='center-block img-responsive' src='img/ieee.jpg'></img>
                </a>
            </div>
        </div>
    </div>
</section><!-- Credits -->

<!-- Contact -->
<section id='contact' class='container-fluid' ch-parallax>
    <h1 class='text-center text-bold'>Contact Us</h1>
    <h5 class='text-center'>we love to hear from you!</h5>
    <div class='row'>
        <div class='col-md-offset-3 col-md-6' id='form-wrapper'> 
            <form name='contactForm' novalidate ng-hide='sentForm'>
                <p class='text-muted'>You may also email us directly <a href='mailto:cutiehack@gmail.com' target='_blank'>here</a></p>
                <div class='form-group has-feedback' show-errors>
                    <label class='control-label required'>Email:</label>
                    <input ng-model='Contact.Email' type='email' class='form-control' id='email' name='email' required placeholder='you@email.com' ng-pattern='/^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-zA-z]{3})$/'>
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <p class='help-block'>Please enter your valid email</p>
                </div>
                <div class='form-group has-feedback' show-errors>
                    <label class='control-label required'>Subject:</label>
                    <input ng-model='Contact.Subject' type='text'
                    class='form-control' id='subject' name='subject' required placeholder='Sponsorship, application, etc...' maxlength='100'>
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <p class='help-block'>Please enter a subject</p>
                </div>
                <div class='form-group has-feedback' show-errors>
                    <label class='control-label required'>Body:</label>
                    <textarea ng-model='Contact.Message' class='form-control' id='body' name='body' required placeholder='Hello..' rows='4' maxlength='1000'></textarea>
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <p class='help-block'>Please out the body of your message</p>
                </div>
                <button ng-click='sendMessage()' class='btn btn-warning btn-block'>Submit</button>
            </form>
            <div ng-show='sentForm'>
                <h1 style='color:green'>Thanks!</h1>
                <p>We have receieved your email and will hear back from us shortly!</p>
            </div>
        </div>
    </div>
</section><!-- Contact -->
