<!-- Splash -->
<section id='splash' ch-parallax ch-parallax-speed='5'>
    <div id='splash-group'>
        <img class='img-responsive center-block' src='img/logo.png'></img>
        <br>
        <h5 class='text-center'>The Inland Empire's Premier Hackathon @ <span class='text-bold' style='color:#f1ab00'>UC</span><span class='text-bold' style='color:#2d6cc0'>R</span><h5>
    </div>
</section><!-- Splash -->

<!-- Intro -->
<section id='intro' class='container-fluid'>
    <h1 class='text-bold text-center'>Prepare Yourself</h1>
    <h5 class='text-center'>mortal...<h5>
    <div id='info-group' class='row'> 
        <div class='col-md-4 text-center'>
            <h1 class='text-skinny'>
                400+ 
            </h1>
            <h5>student developers, designers, and entrepreneurs</h5>
        </div>
        <div class='col-md-4 text-center'>
            <h1 class='text-skinny'>
                36 hours 
            </h1>
            <h5>of creative genius</h5>
        </div>
        <div class='col-md-4 text-center'>
            <h1 class='text-skinny'>
                Infinite glory
            </h1>
            <h5>for all</h5>
        </div>
    </div>
</section><!-- Intro -->

<!-- Trailer -->
<section id='trailer' class='container-fluid' ch-parallax ch-parallax-speed='5'>
    <h1 class='text-bold text-center'>Trailer</h1>  
    <h5 class='text-center'>in HD...</h5>
    <iframe class='center-block' width="560" height="315" src="//www.youtube.com/embed/T5WKY8FHqRM" frameborder="0" allowfullscreen></iframe>
</section><!-- Trailer -->

<!-- Schedule -->
<section id='schedule-wrapper' class='container-fluid'>
    <div id='schedule-heading'>
        <h1 class='text-center text-bold'>Schedule</h1>
        <h5 class='text-center'>for the day...</h5>
    </div>
    <ul class="schedule">
        <li>
          <div class="schedule-panel">
            <div class="schedule-heading">
              <h4 class="schedule-title">Day 1</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> Friday, April 17th 2015</small></p>
            </div>
          </div>
        </li>
        <li class="schedule-inverted">
          <div class="schedule-badge success"><i class="glyphicon glyphicon-check"></i></div>
          <div class="schedule-panel">
            <div class="schedule-heading">
              <h4 class="schedule-title">Check in</h4>
              <p><small class='text-muted'><i class='glyphicon glyphicon-time'></i> 6:00PM - 8:45PM</small></p>
            </div>
            <div class="schedule-body">
              Tables will be set up on the <b>Winston Chung Patio</b> for checkin. Light snacks and 
              drinks will be provided.
            </div>
          </div>
        </li>
        <li class='schedule-inverted'>
          <div class="schedule-badge primary"><i class="glyphicon glyphicon-bullhorn"></i></div>
          <div class="schedule-panel">
            <div class="schedule-heading">
              <h4 class="schedule-title">Opening ceremony</h4>
              <p><small class='text-muted'><i class='glyphicon glyphicon-time'></i> 9:00PM - 10:00PM</small></p>
            </div>
            <div class="schedule-body">
              Meet us at the <b>University Lecture Hall (UNLH)</b> for the hackathon kickoff event!
            </div>
          </div>
        </li>
        <li class="schedule-inverted">
          <div class='schedule-badge warning'><i class='glyphicon glyphicon-tower'></i></div>
          <div class="schedule-panel">
            <div class="schedule-heading">
              <h4 class="schedule-title">Hacking begins!</h4>
              <p><small class='text-muted'><i class='glyphicon glyphicon-time'></i> 10:10PM </small></p>
            </div>
            <div class="schedule-body">
              Get ready, set, go!!! You will be assigned a room at the <b>Bourns College of Engineering (BCOE)</b>
            </div>
          </div>
        </li>
        <li class='schedule-inverted'>
          <div class='schedule-badge'><i class='glyphicon glyphicon-cutlery'></i></div>
          <div class="schedule-panel">
            <div class="schedule-heading">
              <h4 class="schedule-title">First Meal</h4>
              <p><small class='text-muted'><i class='glyphicon glyphicon-time'></i> 11:00PM - 12:00AM </small></p>
            </div>
            <div class="schedule-body">
              You must be hungry by now. Feast at a location near you (TBA).
            </div>
          </div>
        </li>
        <li>
          <div class="schedule-panel">
            <div class="schedule-heading">
              <h4 class="schedule-title">Day 2</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> Saturday, April 18th 2015</small></p>
            </div>
          </div>
        </li>
        <li class="schedule-inverted">
          <div class="schedule-badge"><i class="glyphicon glyphicon-cutlery"></i></div>
          <div class="schedule-panel">
            <div class="schedule-heading">
              <h4 class="schedule-title">Second Meal</h4>
              <p><small class='text-muted'><i class='glyphicon glyphicon-time'></i> 9:00AM - 10:00AM </small></p>
            </div>
            <div class="schedule-body">
              Delicious breakfast served Citrus Hack style. Location TBA.
            </div>
          </div>
        </li>
        <li class="schedule-inverted">
          <div class="schedule-badge"><i class="glyphicon glyphicon-cutlery"></i></div>
          <div class="schedule-panel">
            <div class="schedule-heading">
              <h4 class="schedule-title">Third Meal</h4>
              <p><small class='text-muted'><i class='glyphicon glyphicon-time'></i> 1:30PM - 2:30PM </small></p>
            </div>
            <div class="schedule-body">
              Lunch time! Simple and refreshing to keep the hacking going! Location TBA.
            </div>
          </div>
        </li>
        <li class="schedule-inverted">
          <div class="schedule-badge"><i class="glyphicon glyphicon-cutlery"></i></div>
          <div class="schedule-panel">
            <div class="schedule-heading">
              <h4 class="schedule-title">Fourth Meal</h4>
              <p><small class='text-muted'><i class='glyphicon glyphicon-time'></i> 7:00PM - 8:00PM </small></p>
            </div>
            <div class="schedule-body">
              Last dinner before you leave! Expect it to be great! Location TBA.
            </div>
          </div>
        </li>
        <li>
          <div class="schedule-panel">
            <div class="schedule-heading">
              <h4 class="schedule-title">Day 3</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> Sunday, April 19th 2015</small></p>
            </div>
          </div>
        </li>
        <li class="schedule-inverted">
          <div class="schedule-badge"><i class="glyphicon glyphicon-cutlery"></i></div>
          <div class="schedule-panel">
            <div class="schedule-heading">
              <h4 class="schedule-title">Fifth Meal</h4>
              <p><small class='text-muted'><i class='glyphicon glyphicon-time'></i> 1:00AM - 2:00AM </small></p>
            </div>
            <div class="schedule-body">
              Almost there! Use this last bit of energy to finish up. Location TBA.
            </div>
          </div>
        </li>
        <li class="schedule-inverted">
          <div class="schedule-badge"><i class="glyphicon glyphicon-cutlery"></i></div>
          <div class="schedule-panel">
            <div class="schedule-heading">
              <h4 class="schedule-title">Final Meal</h4>
              <p><small class='text-muted'><i class='glyphicon glyphicon-time'></i> 10:00AM - 11:00AM </small></p>
            </div>
            <div class="schedule-body">
              Light brunch before showtime! Location TBA.
            </div>
          </div>
        </li>
        <li class="schedule-inverted">
          <div class="schedule-badge danger"><i class="glyphicon glyphicon-flag"></i></div>
          <div class="schedule-panel">
            <div class="schedule-heading">
              <h4 class="schedule-title">Demonstrations</h4>
              <p><small class='text-muted'><i class='glyphicon glyphicon-time'></i> 11:10AM - 12:40PM </small></p>
            </div>
            <div class="schedule-body">
              This is it! Your time to shine! Meet at the <b>Highlander Union Building</b>.
            </div>
          </div>
        </li>
        <li class="schedule-inverted">
          <div class="schedule-badge primary"><i class="glyphicon glyphicon-bullhorn"></i></div>
          <div class="schedule-panel">
            <div class="schedule-heading">
              <h4 class="schedule-title">Closing ceremony</h4>
              <p><small class='text-muted'><i class='glyphicon glyphicon-time'></i> 1:00PM - 2:00PM </small></p>
            </div>
            <div class="schedule-body">
              Winners will be announced and we will bid you farewell. <b>:(</b> Meet at the <b>University Lecture Hall</b>
            </div>
          </div>
        </li>
    </ul>
    <h5 id='schedule-footer' class='text-center'><em>Schedule is not final</em></h5>
</section><!-- Schedule -->

<!-- FAQ -->
<section id='faq' class='container-fluid'>
    <h1 class='text-bold text-center'>FAQ</h1>
    <h5 class='text-center'>read this...</h5>
    <div id='faq-body' class='row'>
        <div class='col-md-4 col-sm-6'>
            <div class="panel panel-default">
                <div class="panel-heading">What is a Hackathon?</div>
                <div class="panel-body">
                    A hackathon is a competition in which students team 
                    up to create projects. Hackathons have nothing to do
                    with <u tooltip='{{ securityElaborate }}'>illegal security
                    breaches</u>. See <a target='_blank' href='https://medium.com/hackathons-anonymous/wtf-is-a-hackathon-92668579601'>this</a>
                    for a good explanation.
                </div>
            </div>
        </div>
        <div class='col-md-4 col-sm-6'>
            <div class="panel panel-default">
                <div class="panel-heading">What kind of project can I make?</div>
                <div class="panel-body">
                    Mobile apps, websites, games, and hardware mashups are 
                    popular choices. We will be providing a list of possible
                    <u tooltip='{{ projectIdeasType }}'>project ideas</u> as well which we would like to see.
                </div>
            </div>
        </div>
        <div class='clearfix visible-sm'></div>
        <div class='col-md-4 col-sm-6'>
            <div class="panel panel-default">
                <div class="panel-heading">Am I eligible to come?</div>
                <div class="panel-body">
                    In order to attend you must be an undergraduate (or recent grad) student at an 
                    accredited school, and you must be at least 18 years of age. Unfortunately,
                    we do NOT accept high school students at this time.
                </div>
            </div>
        </div>
        <div class='clearfix visible-md visible-lg'></div>
        <div class='col-md-4 col-sm-6'>
            <div class="panel panel-default">
                <div class="panel-heading">I don't have a team</div>
                <div class="panel-body">
                    You don't need to have a team per-se (although
                    we encourage it). We will be having a small social 
                    before hacking starts so you can join/form a team
                    if you don't already have one before coming.
                </div>
            </div>
        </div>
        <div class='clearfix visible-sm'></div>
        <div class='col-md-4 col-sm-6'>
            <div class="panel panel-default">
                <div class="panel-heading">Travel reimbursements?</div>
                <div class="panel-body">
                    We do not have any plans at this moment for reimbursing any
                    kind of travel. We will be however, providing transportation
                    for a select number of surrounding schools.
                </div>
            </div>
        </div>
        <div class='col-md-4 col-sm-6'>
            <div class="panel panel-default">
                <div class="panel-heading">Why do I have to fill out an application?</div>
                <div class="panel-body">
                    We anticipate having a large number of students wanting to come to
                    our event, and unfortunately we have a limit as to how many people we
                    can physically fit in our venue. We will ensure there will be a good mix
                    of beginner and veteran participants.
                </div>
            </div>
        </div>
        <div class='clearfix visible-sm'></div>
        <div class='clearfix visible-md visible-lg'></div>
        <div class='col-md-4 col-sm-6'>
            <div class="panel panel-default">
                <div class="panel-heading">When will I know if I was accepted?</div>
                <div class="panel-body">
                    We will be sending out our first wave of acceptance emails 
                    around mid March. We will keep you informed.  
                </div>
            </div>
        </div> 
        <div class='col-md-4 col-sm-6'>
            <div class="panel panel-default">
                <div class="panel-heading">Anything else?</div>
                <div class="panel-body">
                    As an official Major League Hacking sanctioned event,
                    you (as well as we) MUST follow the code of conduct found
                    <a href='http://static.mlh.io/docs/mlh-code-of-conduct.pdf'>here</a>.
                    Take some time to read through it. 
                </div>
            </div>
        </div>
    </div>
    <h6 id='disclaimer' class='text-center text-muted'><em>FAQ is subject to change at anytime</em></h6>
</section><!-- FAQ -->

<!-- Sponsors -->
<section id='sponsors' class='container-fluid'>
    <h1 class='text-center text-bold'>Sponsors</h1>
    <h5 class='text-center'>make this event possible...</h5>
    <h5 id='sponsor-interest' class='text-center'>Interested in sponsoring us? Please <a href='#contact' du-smooth-scroll>contact us</a></h5>
</section><!-- Sponsors -->

<!-- Credits -->
<section id='credits' class='container-fluid'>
    <h1 class='text-center text-bold'>Organized by</h1>
    <h5 class='text-center'>this UCR club</h5>
    <div id='organized'>
        <img class='center-block img-responsive' src='img/acmucrlogo.png'></img>
    </div>
    
    <h1 class='text-center text-bold' style='margin-top: 40px'>With support from</h1>
    <h5 class='text-center'>these awesome organizations</h5>
    <div id='supporters'>
        <div class='row'>
            <div class='col-md-4'>
                <img class='center-block img-responsive' src='img/mlh.png'></img>
            </div>
            <div class='col-md-4'>
                <img class='center-block img-responsive' src='img/city.png'></img>
            </div>
            <div class='col-md-4'>
                <img class='center-block img-responsive' src='img/bcoe.png'></img>
            </div>
        </div>
    </div>
</section><!-- Credits -->

<!-- Contact -->
<section id='contact' class='container-fluid' ch-parallax>
    <h1 class='text-center text-bold'>Contact Us</h1>
    <h5 class='text-center'>we love to hear from you!</h5>
    <div class='row'>
        <div class='col-md-offset-3 col-md-6' id='form-wrapper'> 
            <form name='contactForm' novalidate ng-hide='sentForm'>
                <p class='text-muted'>You may also email us directly <a href='mailto:citrushack@gmail.com' target='_blank'>here</a></p>
                <div class='form-group has-feedback' show-errors>
                    <label class='control-label required'>Email:</label>
                    <input ng-model='Contact.Email' type='email' class='form-control' id='email' name='email' required placeholder='you@email.com' ng-pattern='/^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-zA-z]{3})$/'>
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <p class='help-block'>Please enter your valid email</p>
                </div>
                <div class='form-group has-feedback' show-errors>
                    <label class='control-label required'>Subject:</label>
                    <input ng-model='Contact.Subject' type='text' class='form-control' id='subject' name='subject' required placeholder='Sponsorship, registration, etc...' maxlength='100'>
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <p class='help-block'>Please enter a subject</p>
                </div>
                <div class='form-group has-feedback' show-errors>
                    <label class='control-label required'>Body:</label>
                    <textarea ng-model='Contact.Message' class='form-control' id='body' name='body' required placeholder='Hello..' rows='4' maxlength='1000'></textarea>
                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <p class='help-block'>Please out the body of your message</p>
                </div>
                <button ng-click='sendMessage()' class='btn btn-warning btn-block'>Submit</button>
            </form>
            <div ng-show='sentForm'>
                <h1 style='color:green'>Thanks!</h1>
                <p>We have receieved your email and will hear back from us shortly!</p>
            </div>
        </div>
    </div>
</section><!-- Contact -->
