<!-- Splash -->
<section id='splash' ch-parallax ch-parallax-speed='5'>
    <div id='splash-group'>
        <div id="title">
            <img class='img-responsive center-block logo' src='img/citrushack-logo.png'></img>
            <br>
            <h3 class='text-center' style='margin-top:20px'>
                Citrus Hack @ <span class='text-bold'>UCR</span>
            <h3>
            <h4 class='text-center text-bold' style='color:#EEBA00'>October
            21-23</h4>
            <div class='center-block'>
            <a href='#/live' class='btn btn-warning btn-lg btn-block'>
                Live Site
            </a>
        </div> 
        </div>
        <div id="background">
            <img id='sun' src='img/sun_color.png'></img>
            <img id='right_hill' src='img/hill_right.png'></img>
            <img id='left_hill' src='img/hill_left.png'></img>
            <div id='windmill1'>
                <div class='post'></div>
                <div class='engine'></div>
                <div class='flaps'>
                    <div class='flap'></div>
                    <div class='flap'></div>
                    <div class='flap'></div>
                </div>
            </div>
            <div id='windmill2'>
                <div class='post'></div>
                <div class='engine'></div>
                <div class='flaps flaps1'>
                    <div class='flap'></div>
                    <div class='flap'></div>
                    <div class='flap'></div>
                </div>
            </div>
            <div id='windmill3'>
                <div class='post'></div>
                <div class='engine'></div>
                <div class='flaps'>
                    <div class='flap'></div>
                    <div class='flap'></div>
                    <div class='flap'></div>
                </div>
            </div>
            <div id='windmill4'>
                <div class='post'></div>
                <div class='engine'></div>
                <div class='flaps'>
                    <div class='flap'></div>
                    <div class='flap'></div>
                    <div class='flap'></div>
                </div>
            </div>
            <div id="clouds">
                <img class='cloud1' src='img/cloud.gif'></img>
                <img class='cloud2' src='img/cloud.gif'></img>
                <img class='cloud3' src='img/cloud.gif'></img>
                <img class='cloud4' src='img/cloud.gif'></img>
            </div>
        </div>
        <!-- Announcements go here
        <a href='http://cutiehack.challengepost.com/' target='_blank'>
            <div class='alert alert-warning text-center'>Submit your Hack!</div>
        </a>
        -->
    </div>
</section><!-- Splash -->

<!-- Intro -->
<section id='intro' class='container-fluid'>
    <div id='intro-message' class='row'>
        <div class='col-md-6 col-md-offset-3 text-center intro_description'>
            <h1 class='text-highlight'> About us </h1>
            <p>
                Citrus Hack is the Inland Empire's premier hackathon &mdash;
                a <span class='text-highlight'>36 hour</span> event for
                innovators, organized by students at the University of
                California, Riverside.
            </p>
            <p>
                Established in 2015, Citrus Hack invites students across California and
                throughout the world to cultivate new and exciting technologies.
                For our second annual hackathon, we aim to bring value to the
                technology sector through innovation from the next generation of
                developers.
            <p>
                It will be held again this year at the wonderful
                <strong> Winston Chung Hall </strong> at the
                University of California, Riverside.
            </p>
            <p>
                Registration opens on August 29th! We hope to see you here.
            </p>
        </div>
    </div>
    <div id='info-group' class='row'>
        <div class='col-md-4 text-center'>
            <h1 class='text-skinny'>
                400
            </h1>
            <h5>students</h5>
        </div>
        <div class='col-md-4 text-center'>
            <h1 class='text-skinny'>
                36 hours
            </h1>
            <h5>of caffeine-fueled hacking</h5>
        </div>
        <div class='col-md-4 text-center'>
            <h1 class='text-skinny'>
                Infinite
            </h1>
            <h5>potential</h5>
        </div>
    </div>
</section><!-- Intro -->

<!-- FAQ -->
<section id='faq' class='container-fluid'>
    <h1 class='text-bold text-center'>FAQ</h1>
    <h5 class='text-center'>read this...</h5>
    <div id='faq-body' class='row'>
        <div class='col-md-4 col-sm-6'>
            <div class="panel panel-default">
                <div class="panel-heading">What is a Hackathon?</div>
                <div class="panel-body">
                    A hackathon is a competition in which students team
                    up to create projects. Hackathons have nothing to do
                    with <u tooltip='{{ securityElaborate }}'>illegal security
                    breaches</u>. See <a target='_blank' href='https://medium.com/hackathons-anonymous/wtf-is-a-hackathon-92668579601'>this</a>
                    for a good explanation.
                </div>
            </div>
        </div>
        <div class='col-md-4 col-sm-6'>
            <div class="panel panel-default">
                <div class="panel-heading">What kind of project can I make?</div>
                <div class="panel-body">
                    Mobile apps, websites, games, and hardware hacks are
                    popular choices.
                </div>
            </div>
        </div>
        <div class='clearfix visible-sm'></div>
        <div class='col-md-4 col-sm-6'>
            <div class="panel panel-default">
                <div class="panel-heading">Am I eligible to come?</div>
                <div class="panel-body">
                    In order to attend you must be an undergraduate (or recent
                    grad) student at an accredited school, and you must be at
                    least 16 years of age. Unfortunately, we do NOT accept high
                    school students at this time.
                </div>
            </div>
        </div>
        <div class='clearfix visible-md visible-lg'></div>
        <div class='col-md-4 col-sm-6'>
            <div class="panel panel-default">
                <div class="panel-heading">I don't have a team</div>
                <div class="panel-body">
                    You don't need to have a team per-se (although
                    we encourage it). We will be having a small social
                    before hacking starts so you can join/form a team
                    if you don't already have one before coming.
                </div>
            </div>
        </div>
        <div class='col-md-4 col-sm-6'>
            <div class='panel panel-default'>
                <div class='panel-heading'>Travel Reimbursements</div>
                <div class='panel-body'>
                    We currently do not support any form of travel
                    reimbursements; however, we are working towards adding this
                    benefit.
                 </div>
             </div>
         </div>
         <div class='col-md-4 col-sm-6'>
            <div class='panel panel-default'>
                <div class='panel-heading'>Why do I have to apply?</div>
                <div class='panel-body'>
                    We anticipate having a large number of students wanting to
                    come to our event, and unfortunately we have a limit as to
                    how many people we can physically fit in our venue. We will
                    ensure there will be a good mix of beginner and veteran
                    participants.
                </div>
             </div>
         </div>
         <div class='clearfix visible-md visible-lg'></div>
         <div class='col-md-4 col-sm-6'>
            <div class='panel panel-default'>
                <div class='panel-heading'>When will I know if I was
                accepted?</div>
                <div class='panel-body'>
                    We will be sending out our first wave of acceptance emails
                    towards the end of September. We will keep you informed.
                </div>
            </div>
        </div>
        <div class='col-md-4 col-sm-6'>
            <div class='panel panel-default'>
                <div class='panel-heading'>What's your code of conduct?</div>
                <div class='panel-body'>
                    We adhere to the MLH Code of conduct which can be found
                    <a href='/files/mlh_cc.pdf'>here</a>
                </div>
            </div>
        </div>
        <div class='clearfix visible-sm visible-md visible-lg'></div>
    <h6 id='disclaimer' class='text-center text-muted'><em>FAQ is subject to change at anytime</em></h6>
</section><!-- FAQ -->

<!-- Timeline -->
<section id='schedule' class='container-fluid'>
    <h1 class='text-center text-bold'>Schedule</h1>
    <br>
    <h3 class='text-center'>Friday</h3>
    <timeline>
      <timeline-event ng-repeat="event in TIMELINE_DAYS.friday">
	<timeline-badge class="{{event.badgeClass}} invisible" when-visible="animateElementIn" when-not-visible="animateElementOut">
	  <i class="glyphicon {{event.badgeIconClass}}"></i>
	</timeline-badge>
	<timeline-panel class="{{event.badgeClass}} invisible" when-visible="animateElementIn" when-not-visible="animateElementOut">
	  <timeline-heading>
	    <h4>{{event.title}}</h4>
	  </timeline-heading>
	  <p>{{event.content}}</p>
	</timeline-panel>
      </timeline-event>
    </timeline>
    <h3 class='text-center'>Saturday</h3>
    <timeline>
      <timeline-event ng-repeat="event in TIMELINE_DAYS.saturday">
	<timeline-badge class="{{event.badgeClass}} invisible" when-visible="animateElementIn" when-not-visible="animateElementOut">
	  <i class="glyphicon {{event.badgeIconClass}}"></i>
	</timeline-badge>
	<timeline-panel class="{{event.badgeClass}} invisible" when-visible="animateElementIn" when-not-visible="animateElementOut">
	  <timeline-heading>
	    <h4>{{event.title}}</h4>
	  </timeline-heading>
	  <p>{{event.content}}</p>
	</timeline-panel>
      </timeline-event>
    </timeline>
    <h3 class='text-center'>Sunday</h3>
    <timeline>
      <timeline-event ng-repeat="event in TIMELINE_DAYS.sunday">
	<timeline-badge class="{{event.badgeClass}} invisible" when-visible="animateElementIn" when-not-visible="animateElementOut">
	  <i class="glyphicon {{event.badgeIconClass}}"></i>
	</timeline-badge>
	<timeline-panel class="{{event.badgeClass}} invisible" when-visible="animateElementIn" when-not-visible="animateElementOut">
	  <timeline-heading>
	    <h4>{{event.title}}</h4>
	  </timeline-heading>
	  <p>{{event.content}}</p>
	</timeline-panel>
      </timeline-event>
    </timeline>
    <h5 class='text-center'>All content is subject to change</h5>
</section><!-- Timeline -->

<!-- Partners -->
<section id='partners' class='container-fluid'>
    <h1 class='text-bold text-center'>Partners</h1>
    <div class='row'>
        <div class='col-xs-2 col-xs-offset-3'>
            <div class='row text-center'>
                <img class='center-block img-responsive'
		src='http://static.mlh.io/brand-assets/logo/mlh-logo-black.png' />
            </div>
        </div>
        <div class='col-xs-1'></div>
        <div class='col-xs-4'>
            <div class='row text-center'>
                <img class='center-block img-responsive'
                src='img/logos/hackerfund.png' 
                style='max-height: 110px' />
            </div>
        </div>
    </div>
</section>

<!-- Sponsors -->
<section id='sponsors' class='container-fluid' style="position: relative">
    <div id='sponsor-header'>
        <h1 class='text-center text-bold'>Sponsors</h1>
        <h5 class='text-center'>make this event possible</h5>
    </div>
    <div id='sponsor-list' class='row'>
        <div class='col-md-4'></div>
        <div class='col-md-4' style='text-align: center'>
            <h1 style='color: #fff'> Co-Host </h1>
            <a href='https://equipovision.com' target='_blank'>
                <img class='sponsor center-block img-responsive'
                style='max-height: 250px'
                src='img/logos/equipo.png' />
            </a>
        </div>
        <div class='col-md-4'></div>
    </div>
    <hr style='width: 75%' />
    <div id='sponsor-list' class='row'>
	<div class='col-md-1'></div>
	<div class='col-md-5'>
	    <a href='https://www.facebook.com' target='_blank'>
		<img class='sponsor center-block img-responsive'
		style='max-height: 175px; max-width: 400px; margin-top: 40px'
		src='img/logos/facebook.png' />
	    </a>
	</div>
	<div class='col-md-5'>
	    <a href='https://www.google.com' target='_blank'>
		<img class='sponsor center-block img-responsive'
		style='max-height: 200px; max-width: 350px'
		src='img/logos/google.png' />
	    </a>
	</div>
	<div class='col-md-1'></div>
    </div>
    <hr style="width: 75%" />
    <div class='clearfix visible-md visible-lg'></div> 
    <div id='sponsor-list' class='row'>
        <div class='col-md-4'></div>
        <div class='col-md-4'>
            <a href='https://www.hackerearth.com' target='_blank'>
                <img class='sponsor center-block img-responsive'
                style='max-height: 60px'
                src='img/logos/hack_earth.png' />
            </a>
        </div>
        <div class='col-md-4'></div>
    </div>
    <div id='sponsor-list' class='row'>
        <div class='clearfix visible-md visible-lg'></div>
        <div class='col-md-2'></div>
        <div class='col-md-4'>
            <a href='https://alexa.amazon.com/spa/index.html' target='_blank'>
                <img class='sponsor center-block img-responsive' style='max-height: 100px'
                src='img/logos/alexa.png' />
            </a>
        </div>
        <div class='col-md-4'>
            <a href='https://soylent.com' target='_blank'>
                <img class='sponsor center-block img-responsive'
                src='img/companies/soylent.png' />
            </a>
        </div>
        <div class='col-md-2'></div>
    </div>
    <div id='sponsor-list' class='row'>
        <div class='col-md-2'></div>
        <div class='col-md-4'>
            <a href='https://www.stickermule.com' target='_blank'>
                <img class='sponsor center-block img-responsive'
                src='img/companies/smule.png' />
            </a>
        </div>
        <div class='col-md-4'>
            <a href='http://www.theyesman.org/' target='_blank'>
                <img class='sponsor center-block img-responsive'
                src='img/companies/yesman.png' />
            </a>
        </div>
        <div class='col-md-2'></div>
    </div>
    <div id='sponsor-list' class='row'>
	<div class='col-md-2'></div>
	<div class='col-md-4'>
	    <a href='http://www.gigabyte.us' target='_blank'>
		<img class='sponsor center-block img-responsive'
                style='max-height: 125px'
		src='img/logos/gigabyte.png' />
	    </a>
	</div>
	<div class='col-md-4'>
	    <a href='http://marcellospizzapasta.com' target='_blank'>
		<img class='sponsor center-block img-responsive'
		src='img/logos/marcellos.png' />
	    </a>
	</div>
	<div class='col-md-2'></div>
    </div>
    <hr style='width: 75%' />
    <div id='sponsor-list' class='row'>
        <div class='col-md-2'></div>
        <div class='col-md-4'>
            <a href='https://www.starbucks.com' target='_blank'>
                <img class='sponsor sponsor-small center-block img-responsive'
                src='img/companies/starbucks.png' />
            </a>
        </div>
	<div class='col-md-4'>
	    <a href='https://customink.com' target='_blank'>
		<img class='sponsor sponsor-small center-block img-responsive'
		src='img/companies/custom_ink.png' />
	    </a>
	</div>
	<div class='col-md-2'></div>
    </div>
    <div id='sponsor-list' class='row'>
        <div class='col-md-2'></div>
        <div class='col-md-4'>
            <a href='http://www.unclechuangsbakery.com' target='_blank'>
                <img class='sponsor sponsor-small center-block img-responsive'
                src='img/companies/chuangs.png' />
            </a>
        </div>
	<div class='col-md-4'>
	    <a href='https://www.bitpeel.com' target='_blank'>
		<img class='sponsor sponsor-small center-block img-responsive'
		src='img/companies/bitpeel.png' />
	    </a>
	</div>
	<div class='col-md-2'></div>
    </div>
    <div id='sponsor-list' class='row'>
        <div class='col-md-4'></div>
        <div class='col-md-4'>
            <a href='https://github.com' target='_blank'>
                <img class='sponsor sponsor-small center-block img-responsive'
                style='max-height: 50px'
                src='img/logos/github.png' />
            </a>
        </div>
	<div class='col-md-4'></div>
    </div>
    <h5 id='sponsor-interest' class='text-center'>
        Intrested in sponsoring? Please <a href='#contact' du-smooth-scroll>contact us</a>.
    </h5>
</section><!-- Sponsors -->

<!-- Credits -->
<section id='credits' class='container-fluid'>
    <h1 class='text-center text-bold'>Organized by</h1>
    <h5 class='text-center'>these UCR clubs</h5>
    <div id='organized'>
        <div class='row'>
            <div class='col-md-3'>
                <a href='http://acm.cs.ucr.edu/' target='_blank'>
                    <img class='center-block img-responsive' src='img/acmucrlogo.png'></img>
                </a>
            </div>
            <div class='col-md-3'>
                <a href='https://highlanderlink.ucr.edu/organization/cceucr' target='_blank'>
                    <img class='center-block img-responsive' src='img/ccelogo.png'></img>
                </a>
            </div>
            <div class='col-md-3'>
                <a href='http://ieee.ee.ucr.edu/' target='_blank'>
                    <img class='center-block img-responsive' src='img/ieee.jpg'></img>
                </a>
            </div>
            <div class='col-md-3'>
	        <img class='center-block img-responsive' src='img/logos/aspb.png'></img>
	    </div>
        </div>
    </div>
</section><!-- Credits -->

<!-- Contact -->
<section id='contact' class='container-fluid' ch-parallax>
    <h1 class='text-center text-bold'>Contact Us</h1>
    <h5 class='text-center'>we love to hear from you!</h5>
    <div class='row'>
        <div class='col-md-offset-3 col-md-6' id='form-wrapper'>
            <h3 class='text-center'>You can email us directly <a href='mailto:citrushack@gmail.com'
            style="text-decoration: none; color: white;"
            target='_blank'><u>here</u></a></h3>
        </div>
    </div>
</section>
<!-- Contact -->

<!-- Footer -->
<section id='footer' class='container-fluid'>
    <div class='row'>
        <div class='col-md-4 col-md-offset-4 text-center'>
            <a href="https://twitter.com/citrushack">
                <p class='social-links'>
                    <i class='fa fa-twitter'></i>
                </p>
            </a>
            <a href="https://facebook.com/CitrusHack/">
                <p class='social-links'>
                    <i class='fa fa-facebook'></i>
                </p>
            </a>
            <a href="https://www.instagram.com/citrushack_ucr/">
                <p class='social-links'>
                    <i class='fa fa-instagram'></i>
                </p>
            </a>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-4 col-md-offset-4 text-center'>
            <h6> Made with <i class='fa fa-heart heart'></i> in Riverside, California </h6>
            <h6>Site by Kyle Minshall</h6>
            <h6>&copy; 2016 Citrus Hack</h6>
        </div>
    </div>
</section>
<!-- Footer -->

