<!-- Timeline -->
<section id='timeline' class='container-fluid'>
    <h1 class='text-center text-bold'>Map</h1>
    <br>
    <div class='row'>
        <div class='col-md-6'>
            <img class='img-responsive center-block' src='img/map1.png'
            style="max-height: 800px;" />
        </div>
        <div class='col-md-6'>
            <img class='img-responsive center-block' src='img/map2.png'
            style='max-height: 800px' />
        </div>
    </div>
</section><!-- Timeline -->
