<!-- Splash -->
<section id='grand_prizes' style='margin-top:60px; min-height: 800px' ch-parallax ch-parallax-speed='5'>
    <div id='splash-group' style='padding-top: 175px;'>
        <h1 class='text-center'>Prizes</h1>
	    <div class='row'>
	        <div class='col-md-8 col-md-offset-2'>
		    <div class='prize text-center'>
			<h3>Equipo Vision Entrepreneurial Award</h3>
			<h5>Judged by Equipo Vision representatives. <a href='https://docs.google.com/document/d/1VVjlhlHgubFzfHpqtarM_xDaOSOXyQaAnkL6GibNpuA/view'>Guidelines</a></h5>
			<span>$1000 grant for continuing project development, per team</span></br />
			<br />
		    </div>
		</div>
	    </div>
            <div class="row">
                <div class='col-md-8 col-md-offset-2'>
                    <div class='prize text-center'>
                        <h3>First Place</h3>
			<h5>Project is polished in aspects of design, user experience, and purpose</h5>
		        <span>3D Printers Monoprice</span><br />
			<span>Polk Audio - MagnifiOne</span><br />
		        <br />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-md-6'>
                    <div class='prize text-center'>
                        <h4>Second Place</h4>
			<h5>Project is polished in aspects of design, user experience, and purpose</h5>
			<span>Polk Audio - Buckles</span><br />
			<span>Polk Audio - Urchins</span><br />
                        <br>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class='prize text-center'>
                        <h4>Third Place</h4>
			<h5>Project is polished in aspects of design, user experience, and purpose</h5>
			<span>Gigabyte - Mechanical Keyboards</span><br />
			<span>Gigabyte - RGB Gaming Mouse</span><br />
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- Splash -->

<!-- Other Prizes -->
<section id='prize_list' class='container-fluid'>
    <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
            <div class='prize'>
                <h3 class='title'>Best Data Science Prize</h3>
		<h5>Best use of <a href='http://riversideca.gov/transparency'>Riverside's open data</a></h5>
                <span>Polk Audio - Swimmers</span><br />
            </div>
        </div>
    </div>
     <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
            <div class='prize'>
                <h3 class='title'>Entrepreneurial Prize</h3>
		<h5>Hack has potential to move forward to market</h5>
		<span>Amazon Fire Tablet</span><br />
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
            <div class='prize'>
                <h3 class='title'>Best Internet of Things (IoT) Hack</h3>
		<h5>Demonstrates the power of connectivity</h5>
                <span>IoT ESP8266 WiFi Starter Kit</span><br />
		<span>Hackaday Superconference Tickets</span><br />
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
            <div class='prize'>
                <h3 class='title'>Best Beginner Hack</h3>
		<h5>Geared towards first timers in either project making or hackathons</h5>
		<span>Raspberry Pi 3</span><br />
		<span>1-Year Github for Unlimited Private Repositories</span></br />
            </div>
        </div>
    </div>
    <div class='row'>
	<div class='col-md-8 col-md-offset-2'>
            <div class='prize'>
                <h3 class='title'>Best Game Hack</h3>
		<h5>Created an enjoyable gaming experience</h5>
		<span>AMD RX Radeon 470 GPU<span><br />
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
            <div class='prize'>
                <h3 class='title'>Best Voice User Experience using Amazon Alexa</h3>
		<h5>Judged by Amazon representative</h5>
                <span>Amazon Echos</span><br>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
	    <div class='prize'>
	        <h1>MLH Prizes</h1>
	    </div>
        </div>
    </div>
    <hr style="width: 75%"/>
    <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
            <div class='prize'>
                <h3 class='title'>Best Use of AWS</h3>
                <span>Dell 1TB Hard Drive</span><br>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
            <div class='prize'>
                <h3 class='title'>Best Domain Name  from Domain.com</h3>
                <span>Domain.com Swag Bags</span><br>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
            <div class='prize'>
                <h3 class='title'>#HackHarassment</h3>
                <span>Hack Harassment Swag Bag</span><br>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
            <div class='prize'>
                <h3 class='title'>Watch Dogs 2 Best Device Privacy Hack</h3>
                <span>Watch Dogs 2 Collector's Edition Game</span><br>
            </div>
        </div>
    </div>
</section><!-- Timeline -->

