<div id='successAppModal'>
    <div class='modal-header'>
        <h3 class='modal-title'>Thanks for Applying!</h3>
    </div>
    <div class='modal-body'>
        <p>
            We will be sending our first
            wave of <span class='text-bold'>acceptance emails by the end of
            September</span> so keep an eye on your inbox!
        </p>
        <div class='row'>
            <div class='col-xs-offset-2 col-xs-10 col-sm-offset-3 col-sm-9'>
        <img src='img/team.png' id='people' class='img-responsive'></img>
            </div>
            <div class='col-xs-offset-3 col-xs-3'>
                <p class='text-bold'>Tell your friends!</p>
            </div>
            <div class='col-xs-3'>
                <div class="fb-share-button" data-href="http://citrushack.com" data-layout="button" ng-init='FBInit()'></div>
            </div>
        </div>
    </div>
    <div class='modal-footer'>
        <button class='btn btn-danger' ng-click='close()'>Close</button>
    </div>
</div>
