/**
 * contact
 */

/**
 * Module imports
 */

@import 'modules/colors';

/**
 * Local variables
 */

$contact-form-margin-top: 15px; 
$contact-img-src: 'img/bourns-bcoe.jpg';
$contact-form-bg-color: $white;

/**
 * Styles
 */

#contact {
    color: white;
    background: image-url($contact-img-src);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    #form-wrapper {
        color: black;
        margin-top: $contact-form-margin-top;
        background-color: $contact-form-bg-color;
        padding: 20px 20px 20px 20px;
        border-radius: 5px;

        form {
            .form-group .help-block,
            .form-group .glyphicon-ok,
            .form-group .glyphicon-remove {
                display: none;
            }
            
            .form-group.has-error .help-block,
            .form-group.has-error .glyphicon-remove {
                display: block;
        }

        .form-group.has-success .glyphicon-ok {
            display: block;
        }

        }
    }
}


