/**
 * FAQ
 */

/**
 * Module imports
 */

@import 'modules/colors';

/**
 * Local variables
 */

$faq-bg-color: #41AA7B;
$faq-panel-bg-color: darken(#228279, 10%);
$faq-panel-heading-color: $white;
$faq-color: $white;
$faq-body-margin-top: 40px;
$disclaimer-margin-top: 40px;

/**
 * Styles
 */

#faq {
    background-color: $faq-bg-color;
    
    h1, h5, h6 {
        color: $white;
    }
    .panel-default > .panel-heading {
        background-color: $faq-panel-bg-color;
        color: $faq-panel-heading-color;
    }

    .panel {
        border-color: $faq-panel-bg-color;
    }

    #faq-body {
        margin-top: $faq-body-margin-top;
    }

    #disclaimer {
        margin-top: $disclaimer-margin-top;
    }
}

