/**
 * Modals
 */

/**
 * Module imports
 */

@import 'modules/colors';

/**
 * Local variables
 */

$success-header-bg-color: $scarlett-red;
$error-email-header-bg-color: $scarlett-red;
$error-email-header-color: $white;
$success-header-color: $white;

/**
 * Styles
 */

#successAppModal {
    z-index: 100000;
    .modal-header {
        color: $success-header-color;
        background-color: $success-header-bg-color;
    }

    #people {
        margin-bottom: 10px;
    }
}

#errorEmailAppModal {
    z-index: 100000;
    .modal-header {
        color: $error-email-header-color;
        background-color: $error-email-header-bg-color;
    }

    #people {
        margin-bottom: 10px;
    }
}

