/**
 * Navigation
 */

/**
 * Module imports
 */

@import 'modules/colors';

/**
 * Local variables
 */

$nav-bg-image: "img/whitediamond.png";
$nav-logo-width: 50%;
$nav-padding-top: 30px;
$nav-padding-left: 10px;
$nav-padding-right: 10px;

$login-btns-margin-top: 100px;

/**
 * Styles
 */
 
#nav-wrapper {
    // Background
    background-image: image-url($nav-bg-image);
    background-repeat: repeat;
    padding: $nav-padding-top $nav-padding-right 0px $nav-padding-left;

    #logo {
        max-width: 70%;
    }

    #login-action-btns {
        margin-top: $login-btns-margin-top;
    }
}
