/**
 * Navigation
 */

/**
 * Module imports
 */

@import 'modules/colors';

/**
 * Local variables
 */

$nav-bg-color: $transparent;
$nav-logo-width: 50%;
$nav-padding-top: 30px;
$nav-padding-left: 10px;
$nav-padding-right: 10px;

$login-btns-margin-top: 100px;

/**
 * Styles
 */
 
#nav-wrapper {
    background-color: $nav-bg-color;
    
    /**
     * When page is at most col-md width
     * make nav non transparent
     */

    @media (max-width:991px) {
        background-color: $white;
    }

    padding: $nav-padding-top $nav-padding-right 0px $nav-padding-left;

    #logo {
        max-width: 70%;
    }

    #login-action-btns {
        margin-top: $login-btns-margin-top;
    }
}
