/**
 * schedule
 */

/**
 * Module imports
 */

@import 'modules/colors';

/**
 * Local variables
 */

$schedule-bg-color: $scarlett-red;

/**
 * Styles
 */

#schedule {
    color: $white; 
    background-color: $schedule-bg-color;
}
