/**
 * schedule
 */

/**
 * Module imports
 */

@import 'modules/colors';

/**
 * Local variables
 */

$schedule-bg-color: $scarlett-red;
$schedule-margin-top: 40px;
$schedule-padding-sides: 40px;
$schedule-header-color: $white;

/**
 * Styles
 */

#schedule-wrapper {
    background-color: $schedule-bg-color;
    padding: 20px $schedule-padding-sides 20px $schedule-padding-sides;
    
    #schedule-heading {
        color: $schedule-header-color;
    }
}

/**
 * schedule taken from
 * http://bootsnipp.com/snippets/featured/schedule-responsive
 */

.schedule {
    list-style: none;
    position: relative;
    padding: 20px 0 20px;
    margin-top: $schedule-margin-top;
}

.schedule:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.schedule-panel {
    background-color: $white;
}

.schedule > li {
    margin-bottom: 20px;
    position: relative;
}

.schedule > li:before,
.schedule > li:after {
    content: " ";
    display: table;
}

.schedule > li:after {
    clear: both;
}

.schedule > li:before,
.schedule > li:after {
    content: " ";
    display: table;
}

.schedule > li:after {
    clear: both;
}

.schedule > li > .schedule-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.schedule > li > .schedule-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.schedule > li > .schedule-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.schedule > li > .schedule-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.schedule > li.schedule-inverted > .schedule-panel {
    float: right;
}

.schedule > li.schedule-inverted > .schedule-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.schedule > li.schedule-inverted > .schedule-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.schedule-badge.primary {
    background-color: #2e6da4 !important;
}

.schedule-badge.success {
    background-color: #3f903f !important;
}

.schedule-badge.warning {
    background-color: #f0ad4e !important;
}

.schedule-badge.danger {
    background-color: #d9534f !important;
}

.schedule-badge.info {
    background-color: #5bc0de !important;
}

.schedule-title {
    margin-top: 0;
    color: inherit;
}

.schedule-body > p,
.schedule-body > ul {
    margin-bottom: 0;
}

.schedule-body > p + p {
    margin-top: 5px;
}

@media (max-width: 767px) {
    ul.schedule:before {
        left: 40px;
    }

    ul.schedule > li > .schedule-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.schedule > li > .schedule-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.schedule > li > .schedule-panel {
        float: right;
    }

    ul.schedule > li > .schedule-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.schedule > li > .schedule-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}

