/**
 * Sponsors
 */

/**
 * Module imports
 */

@import 'modules/colors';

/**
 * Local variables
 */

$sponsors-bg-color: #3A4F65;
$sponsor-interest-color: $citrus-orange;
$sponsor-interest-margin-top: 40px;

$sponsor-list-margin-top: 50px;
$sponsor-margin: 25px;
$sponsor-max-height: 90px;
$sponsor-small-max-height: 75px;

/**
 * Styles
 */

#sponsors {
    background-color: $sponsors-bg-color;
    #sponsor-interest {
        color: $sponsor-interest-color;
        margin-top: $sponsor-interest-margin-top;
    }

    #sponsor-header {
        h1 {
            color: #fefefe;
        }
        h5 {
            color: #cfcfcf;
        }
    }


    #sponsor-list {

        [class^='sponsor-'] {
            margin-top: $sponsor-margin;
            margin-bottom: $sponsor-margin;
        }

        .sponsor {
	    margin-top: $sponsor-margin;
	    margin-bottom: $sponsor-margin;
            max-height: $sponsor-max-height;
            -webkit-filter: brightness(0) invert(1);
            -moz-filter:    brightness(0) invert(1);
            -ms-filter:     brightness(0) invert(1);
            -o-filter:      brightness(0) invert(1);
            filter: brightness(0) invert(1);
        }

        .sponsor:hover {
          filter: none;
          -webkit-filter: brightness(100%);
          -moz-filter:    brightness(100%);
          -ms-filter:     brightness(100%);
          -o-filter:      brightness(100%);
        }
	
	.sponsor-small {
	    max-height: $sponsor-small-max-height;
	}
    }
}

