/**
 * Sponsors
 */

/**
 * Module imports
 */

@import 'modules/colors';

/**
 * Local variables
 */

$sponsors-bg-color: $white;
$sponsor-interest-color: $citrus-orange;
$sponsor-interest-margin-top: 40px;

$sponsor-list-margin-top: 50px;
$sponsor-margin: 15px;
$sponsor-sm-max-height: 50px;

/**
 * Styles
 */

#sponsors {
    background-color: $sponsors-bg-color;
    #sponsor-interest {
        color: $sponsor-interest-color;
        margin-top: $sponsor-interest-margin-top;
    }

        
    #sponsor-list {
        margin-top: $sponsor-list-margin-top;
        
        [class^='sponsor-'] {
            margin-top: $sponsor-margin;
            margin-bottom: $sponsor-margin;
        }

        .sponsor-sm {
            max-height: $sponsor-sm-max-height;
        }
    }
}

