/**
 * Typography
 */

/**
 * Extension of default bootstrap font stack
 * Added Raleways for header and Roboto for body
 */

$header-font-stack: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-stack: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;

/**
 * Font styles 
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font-stack;
}

body,
input,
label,
button,
select,
textarea {
    font-family: $body-font-stack;
}

.text-bold {
    font-weight: 700;
}

.text-skinny {
    font-weight: 200;
}
